{% extends 'base.html' %} {% block content %}
<div class="h-full flex flex-col md:flex-row gap-4 justify-center">
  <div class="m-auto p-6 bg-primary-300 rounded-lg shadow-lg">
    <div class="flex flex-row mb-4">
      <p>Magic Value:</p>
      <p class="ml-1 text-white" id="responseContainer"></p>
    </div>

    <button
      type="submit"
      id="generateButton"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Generate Magic Value
    </button>
  </div>
  <div class="m-auto">
    {% for printer in printers %}
    <div
      class="mb-2 grid grid-cols-2 grid-rows-3 gap-4 m-auto p-6 bg-primary-300 rounded-lg shadow-lg"
    >
      <div class="col-span-2 justify-self-center">{{ printer.Name }}</div>
      <div class="col-span-2 justify-self-center">
        Status: {{printer.Status}}
      </div>
      <div>
        <!-- "Printing" should be attached to a variable. Contenxt processor to add the status constants -->
        {% if printer.Status == "Printing" %}
        <form action="{{url_for('admin.finish_print', printer_id=printer.id)}}" method="post">
          <input type="hidden" name="printer_id" value="{{ printer.id }}" />
          <button
            type="submit"
            class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800"
          >
            Finish Print
          </button>
        </form>
        {% else %}
        <a
          class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800"
          href="{{url_for('print_tracker.view_prints')}}"
          >View Prints</a
        >

        {% endif %}
      </div>
      <div>
        <a href=""></a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{{ url_for('static', filename='dist/magic.js') }}"></script>

{% endblock content %}
