{% extends 'base.html' %} {% block content %}

<div class="mt-2 mx-2 relative overflow-hidden shadow-md rounded-lg">
  <table class="table-auto w-full text-left">
    <thead
      class="uppercase bg-primary-400 text-[#e5e7eb]"
      style="background-color: rgb(107, 114, 128); color: rgb(229, 231, 235)"
    >
      <tr>
        <td class="py-4 border border-gray-300 text-center p-4">Name</td>
        <td class="py-4 border border-gray-300 text-center p-4">Print Name</td>
        <td class="py-4 border border-gray-300 text-center p-4">Grams Used</td>
        <td class="py-4 border border-gray-300 text-center p-4">Duration</td>
        <td class="py-4 border border-gray-300 text-center p-4">Color</td>
        {% if current_user.has_role("admin") %}
        <td class="py-4 border border-gray-300 text-center p-4">
          Admin Actions
        </td>
        {% endif %}
      </tr>
    </thead>
    <tbody
      class="bg-white text-black"
      style="background-color: rgb(255, 255, 255); color: rgb(107, 114, 128)"
    >
      {% for print in prints %}

      <tr class="py-1" style="">
        <td class="py-1 border border-gray-300 text-center p-4">
          {{ print.name }}
        </td>
        <td class="py-1 border border-gray-300 text-center p-4">
          {{ print.PrintName }}
          <form action="/download/{{ print.id }}" method="get">
            <button class="text-purple-700" type="submit">Download</button>
          </form>
        </td>
        <td class="py-1 border border-gray-300 text-center p-4">
          {{ print.GramsUsed }}
        </td>
        <td class="py-1 border border-gray-300 text-center p-4">
          {{ print.Duration }}
        </td>
        <td class="py-1 border border-gray-300 text-center p-4">
          {{ print.Color }}
        </td>
        {% if current_user.has_role("admin") %}
        <td class="py-1 border border-gray-300 text-center p-4">
          <form action="/admin/action/{{ print.id }}">
            <button class="text-red-700" type="submit">Edit</button>
          </form>
        </td>
        {% endif %}
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<div class="w-full-4 m-2 flex flex-row-reverse">
  <form class="ml-2" action="{{ url_for('print_tracker.view_completed_prints') }}" method="get">
    <button type="submit" class="p-6 bg-primary-300 rounded-lg shadow-lg">
      See completed prints
    </button>
  </form>
  <form  action="{{ url_for('print_tracker.view_prints') }}" method="get">
    <button type="submit" class="p-6 bg-primary-300 rounded-lg shadow-lg">
      See all prints
    </button>
  </form>
</div>

{% endblock content %}
