

<form action="/submit" method="post" enctype="multipart/form-data">
  <!-- Text input -->
  <div class="mb-4 w-full">
    <label for="name"></label>
    <input
      placeholder="Your name"
      type="text"
      id="name"
      name="name"
      class="w-full block rounded-lg border dark:border-none dark:bg-neutral-600 py-[9px] px-3 pr-4 text-sm focus:border-blue-400 focus:ring-1 focus:ring-blue-400 focus:outline-none"
    />
  </div>

  <!-- Text input -->
  <div class="mb-4 w-full">
    <label for="print_name"></label>
    <input
      placeholder="Print name"
      type="text"
      id="print_name"
      name="print_name"
      class="w-full block rounded-lg border dark:border-none dark:bg-neutral-600 py-[9px] px-3 pr-4 text-sm focus:border-blue-400 focus:ring-1 focus:ring-blue-400 focus:outline-none"
    />
  </div>

  <!-- Text input -->
  <div class="mb-4 w-full">
    <label for="grams_used"></label>
    <input
      placeholder="grams used times 100"
      type="text"
      id="grams_used"
      name="grams_used"
      class="w-full block rounded-lg border dark:border-none dark:bg-neutral-600 py-[9px] px-3 pr-4 text-sm focus:border-blue-400 focus:ring-1 focus:ring-blue-400 focus:outline-none"
    />
  </div>

  <!-- Text input -->
  <div class="mb-4 w-full">
    <label for="duration"></label>
    <input
      placeholder="Duration in minutes"
      type="text"
      id="duration"
      name="duration"
      class="w-full block rounded-lg border dark:border-none dark:bg-neutral-600 py-[9px] px-3 pr-4 text-sm focus:border-blue-400 focus:ring-1 focus:ring-blue-400 focus:outline-none"
    />
  </div>

  <!-- Text input -->
  <div class="mb-4 w-full">
    <label for="color"></label>
    <input
      placeholder="Color of the print"
      type="text"
      id="color"
      name="color"
      class="w-full block rounded-lg border dark:border-none dark:bg-neutral-600 py-[9px] px-3 pr-4 text-sm focus:border-blue-400 focus:ring-1 focus:ring-blue-400 focus:outline-none"
    />
  </div>

  <div>
    <label for="file">Upload file:</label>
    <input type="file" id="print_file" name="print_file" />
  </div>

  <input type="submit" value="submit" />
</form>



    